node_modules/
.env
backend/uploads/videos/*
backend/uploads/images/*
!backend/uploads/images/.gitkeep
!backend/uploads/videos/.gitkeep
admin/node_modules/
admin/dist/
client/node_modules/
client/dist/
.Antigravity/
test/run-tests.js
